body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #181818;
    color: #fff;
}

.fillerbox {
    display: inline-block;
    height: 20%;
    width: 70%;
}

.overlay-dismiss {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.project {
    display: inline-block;
    height: 100%;
    width: 70%;
    margin-left: 27%;
    margin-top: 3%;
    position: relative;
}

.main-image {
    max-width: 100%;
}

.main-image .img img {
    width: 57%;
    height: auto;
    left: 0;
    top: 0;
    float: left;
}

.sub-image {
    max-width: 27.16%;
    float: right;
    margin-right: 10%;
}

.sub-image img {
    width: 100%;
    margin-bottom: 5%;
    height: auto;
}

.project .header {
    float: left;
    height: auto;
    width: 57%;
    margin-bottom: 1%;
    color: #fff;
    display: block;
}

.project .header .title {
    float: left;
    width: 50%;
    margin-top: 3%;
    height: auto;
    font: "Century Gothic", Futura, sans-serif;
    font-size: 35px;
    font-size:calc(90% + 0.9vw);
    color: #fff;
    display: block;
}

.project .header .links {
    margin-top: 1%;
    text-align: right;
    float: right;
    display: block;
    width: 40%;
    height: auto;
    position: relative;
    padding-bottom: 0%;
}

.project .links p {
    font: "Century Gothic", Futura, sans-serif;
    font-size: 18px;
    font-size:calc(90% + 0.3vw);
    color: rgb(255, 255, 255);
    display: block;
}

.project .descriptionbox {
    float: left;
    display: block;
    width: 57%;
    max-height: 30%;
    position: static;
}

.project .descriptionbox .description {
    float: left;
    display: block;
    width: 70%;
    max-height: 30%;
    position: static;
}

.project .descriptionbox .description p {
    font: "Century Gothic", Futura, sans-serif;
    font-style: normal;
    line-height: 135%;
    font-size: 18px;
    font-size:calc(90% + 0.3vw);
    color: rgb(255, 255, 255);
    display: block;
}

.project .descriptionbox .collaborators {
    float: right;
    display: block;
    width: 20%;
    max-height: 30%;
    position: static;
    overflow-wrap: break-word;
}

.project .descriptionbox .collaborators p {
    text-align: right;
    font: "Century Gothic", Futura, sans-serif;
    font-size: 18px;
    font-size:calc(90% + 0.3vw);
    color: rgb(255, 255, 255);
    display: block;
}

.sideBar {
    height: 100%;
    /* 100% Full-height */
    width: 17%;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 0;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #202020;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 30px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.sideBar text {
    margin-left: 0%;
    display: block;
    padding: 16px;
    text-decoration: none;
}

.hover-button {
    padding-left: 0;
    padding-right: 0;
    font: "Century Gothic", Futura, sans-serif, bold;
    font-size: 30px;
    font-size:calc(60% + 1vw);
    background-color: #202020;
    color: #ffffff;
    border: none;
    text-align: left;
    text-decoration: none;

    display: block;
    height: 5%;
    min-height: 5%;
    width: 100%;
    z-index: -1;
    justify-content: space-between;
    align-items: center;
}

.hover-button .hover-button--on {
    background-color: #202020;
    padding: 14px;
    padding-left: 7%;
}

.hover-button:hover .hover-button--on {
    background-color: #181818;
}

.video-responsive {
    float: left;
    overflow: hidden;
    position: relative;
    width: 57%;
    height: auto;
    padding-bottom: 32.1%;
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #6da8ca;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.8);
    display: flex;
    align-items: center;
}

.overlay img{
    display: block;
    max-height: 90%;
    width: auto;
    max-width: 90%;
    margin: 60px auto;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
    z-index: 1;
}


  .overlay > span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    z-index: 999;
    cursor: pointer;
  }
  .overlay-arrows_left {
    display: flex;
    background-color: #6d6d6d;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 999;
  }
  
  .overlay-arrows_left svg {
    width: 50px;
    height: 50px;
  }
  
  .overlay-arrows_right svg {
    width: 50px;
    height: 50px;
  }
  
  .overlay-arrows_right {
    display: flex;
    background-color: #6d6d6d;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    top: 50%;
    z-index: 999;
  }