body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    background-color: #181818;
    color: #fff;
}

.overlay-dismiss {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
}

hr {
    border: 2px solid #333333;
}

/*.about {
    display: inline-block;
    min-height: 100%;
    width: 70%;
    margin-left: 27%;
    margin-top: 3%;
    position: relative;
}

.about .aboutme{
    display: block;
    height: 100%;
    width: 50%;
    float: left;
}

.about .aboutme .description{
    display: block;
    height: 50%;
    width: 100%;
    float: left;
}

.about .contact{
    display: block;
    height: 20%;
    width: 100%;
    float: left;
}

.about .links{
    display: block;
    height: 30%;
    width: 100%;
    float: left;
}

.about .cv{
    display: block;
    height: 100%;
    width: 30%;
    float: right;
    margin-right: 10%;
}*/

.project {
    /*display: inline-block;
    height: 100%;
    width: 70%;
    margin-left: 27%;
    margin-top: 3%;
    position: relative;*/
    padding-top: 50px;
}

.column {
    flex-direction: row;
    width: 100%;
}

.navigation {
    display: none;
}

.main-image {
    max-width: 100%;
}

.main-image .img img {
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    float: left;
}

.sub-image {
    /*max-width: 27.16%;*/
    /*float: right;*/
    /*margin-right: 10%;*/
}

.sub-image img {
    width: 100%;
    margin-bottom: 5%;
    height: auto;
}

.project .header {
    float: left;
    height: auto;
    width: 100%;
    margin-bottom: 1%;
    color: #fff;
    /*display: block; bc flex*/
}

.project .header .title {
    float: left;
    min-width: 50%;
    margin-top: calc(6% - 1vw);;
    height: auto;
    font: "Century Gothic", Futura, sans-serif;
    font-size: 35px;
    font-size:calc(150% + 0.5vw);
    color: #fff;
}

.project .header .links {
    margin-top: 1%;
    text-align: right;
    float: right;
    width: 40%;
    height: auto;
    position: relative;
    padding-bottom: 0%;
}

.project .links p {
    font: "Century Gothic", Futura, sans-serif;
    font-size: 18px;
    font-size:calc(90% + 0.3vw);
    color: rgb(255, 255, 255);
    float: right;
}

.project .descriptionbox {
    float: left;
    max-height: 30%;
    position: static;
}

.project .descriptionbox .description {
    float: left;
    max-height: 30%;
    position: static;
}

.project .descriptionbox .description p {
    font: "Century Gothic", Futura, sans-serif;
    font-style: normal;
    line-height: 135%;
    font-size: 18px;
    font-size:calc(90% + 0.3vw);
    color: rgb(255, 255, 255);
}

.project .descriptionbox .collaborators {
    float: left;
    max-height: 30%;
    position: static;
    overflow-wrap: break-word;
}

.project .descriptionbox .collaborators p {
    text-align: left;
    font: "Century Gothic", Futura, sans-serif;
    font-size: 18px;
    font-size:calc(90% + 0.3vw);
    color: rgb(255, 255, 255);
}

.sideBar {
    height: calc(100% - 2*(60px + 1.4vw) - 1%);
    /* 100% Full-height */
    width: 17%;
    min-width: 250px;
    /*width: calc(125px + 11vw);*/
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 0;
    /* Stay on top */
    top: calc(2*(60px + 1.4vw));
    /*bottom: calc(80px + 1.4vw);*/
    bottom: 0;
    /* Stay at the top */
    left: 0;
    background-color: #202020;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    /*padding-top: 30px;*/
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

.Flipped{
    direction: rtl;
}

::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.about-button {
    z-index: 0;
    top: 0;
    position: fixed;
    width: 17%;
    left: 0;

    padding-left: 7%;
    padding-left: 0;
    padding-right: 0;
    font: "Century Gothic", Futura, sans-serif, bold;
    font-size: 30px;
    font-size:calc(70% + 1.4vw);
    background-color: #181818;
    color: #ffffff;
    border: none;
    text-align: left;
    text-decoration: none;

    /*display: block; bc flex*/
    height: calc(2*(60px + 1.4vw));
    z-index: 1;
    justify-content: space-between;
}

.about-button:hover{
    background-color: #181818;
    color:#979797;
    z-index: inherit;
}

.about-button .about-button--on {
    background-color: inherit;
    padding-left: 7%;
    z-index: inherit;
}

.about-button:hover .about-button--on {
    background-color:transparent;
    z-index: inherit;
}

.hover-button {
    padding-left: 0;
    padding-right: 0;
    font: "Century Gothic", Futura, sans-serif, bold;
    font-size: 30px;
    font-size:calc(60% + 1vw);
    background-color: transparent;
    color: #ffffff;
    border: none;
    text-align: left;
    text-decoration: none;
    
    /*display: block; bc flex*/
    height: calc(55px + 2.5vw);
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    z-index: 0;
}

.hover-button:hover{
    position: relative;
    background-color: transparent;
    background-image: var(--hover--image);
    background-repeat: no-repeat;
    background-size: cover;
}

.hover-button:hover::before{
    content: '';
    background-color: hsla(0, 0%, 9%);
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.85;
}

.hover-button .hover-button--on {
    background-color: transparent;
    padding-left: 7%;
    z-index: 1;
}

.hover-button:hover .hover-button--on {
    background-color: transparent;
    /*background-color: #181818;*/
    z-index: 1;
}

.tags{
    margin-top: 5px;
    width:95%;
    height:30%;
}

.tag{
    background-color: #181818;
    color: #ffffff;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    float: left;
    font: "Century Gothic", Futura, sans-serif;
    font-size: 12px;
    font-size:calc(6px + 0.4vw);
    border: none;
    text-align: left;
    text-decoration: none;
    z-index: 5;
    cursor: pointer;
}

.tags .tag:hover {
    background-color: #202020;
    color:#6da8ca;
}

.filters {
    background-color: #333333;
    /*height: calc(16px + 1.2vw);*/
    text-align: left;
    direction: ltr;
    font: "Century Gothic", Futura, sans-serif;
    font-size: 18px;
    font-size:calc(90% + 0.3vw);
    padding-left: 7%;
    padding-top: 3%;
    width: 100%;
    float:left;
    height: fit-content;
    padding-bottom: 15px;
    line-height: 200%;
}

.filtertag {
    background-color: #181818;
    color: #ffffff;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 5px;
    font: "Century Gothic", Futura, sans-serif;
    font-size: 12px;
    font-size:calc(6px + 0.4vw);
    border: none;
    text-align: left;
    text-decoration: none;
    z-index: 5;
    width:fit-content;
    cursor: pointer;
    display: inline-block;
}

.tags .filtertag:hover {
    background-color: #181818;
    color:#6da8ca;
    text-decoration:line-through;
}

.filtertag .clearIcon{
    display: none;
}

.filtertag:hover .clearIcon{
    display: inline;
}

.video-responsive {
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 56.31%; /*32.1*/
}

.video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

html {
    scroll-behavior: smooth;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #6da8ca;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


/* modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 27, 27, 0.8);
    display: flex;
    align-items: center;
    z-index:900;
}

.overlay img{
    display: block;
    max-height: 90%;
    max-width: 90%;
    width: 90%;
    height: auto;
    object-fit: contain;
    margin: 60px auto;
    /*box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);*/
    z-index: 900;
}


  .overlay > span {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #ffffff;
    z-index: 999;
    cursor: pointer;
  }
  .overlay-arrows_left {
    display: flex;
    background-color: #6d6d6d;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 999;
  }
  
  .overlay-arrows_left svg {
    width: 50px;
    height: 50px;
  }
  
  .overlay-arrows_right svg {
    width: 50px;
    height: 50px;
  }
  
  .overlay-arrows_right {
    display: flex;
    background-color: #6d6d6d;
    justify-content: space-between;
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    top: 50%;
    z-index: 999;
  }

  @media only screen and (min-width:1000px) {
    .column {
        flex-direction: column;
        width: 100%;
    }

    .navigation {
        display: block;
    }

    .project {
        display: flex;
        padding-top: 35px;
    }

    .navPlaceholder {
        width: 25%;
        min-width: 250px;
    }

    .colMain {
        width: 50%;
        padding-left: 8%;
        padding-right: 2%;
    }

    .colSub {
        width: 25%;
        padding-left: 1%;
        padding-right: 10%;
    }

    hr {
        display: none;
    }
}